@keyframes pasek {
    0%   {width: 0%; background-color: green;}
    100%   {width: 74%; background-color: green;}

  }
#all {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
p#p1  {
  color: gold;
}
#imgGold {
  position: absolute;
  top: 20%;
}

div#header {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(99, 91, 91);
  text-align: center;
}
div#header #gold   {
  position: absolute;
  top: 0;
  left: 33%;
  width: 33%;
  height: 100%;
  background-color: rgb(99, 91, 91);
}
#body {
  position: absolute;;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}


.container {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "g1 g5"
    "g2 g6"
    "g3 g7"
    "g4 g8";
  width: 100%;
  height: 90%;
  padding: 3%;

  background-color: aquamarine;
}

.g1 { grid-area: g1;border: 4px solid rgb(0, 0, 0); }

.g2 { grid-area: g2;border: 4px solid black; }

.g3 { grid-area: g3;border: 4px solid black; }

.g4 { grid-area: g4;border: 4px solid black; }

.g5 { grid-area: g5;border: 4px solid black; }

.g6 { grid-area: g6;border: 4px solid black; }

.g7 { grid-area: g7;border: 4px solid black; }

.g8 { grid-area: g8;border: 4px solid black; }

#ImgWood {
  width: 50%;
  height: 50%;

}
#BWood {
  position: relative;
  top: 10%;
  left: 2.5%;
  width: 20%;
  height: 80%;
  border-radius: 10px;
  background-color: aquamarine;
  float: left;
}
#pasekDrewno {
  position: relative;
  top: 10%;
  left: 2.5%;
  z-index: 1;
  width: 74%;
  height: 40%;
  float: left;
  animation-name: pasek;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
